body {
    background-color: #80b2d6;
}

.navbar {
    background-color: white;
    font-size: 25px;
    height: 300px;
    width: 100%;
}

.jumbotron {
    background-color: white;
}

.homePage {
    text-align: center;
}

.productBox {
    width: 200px;
    height: 200px;
    background-color: #eff3aa;
    float: left;
    margin: 10px;
}

.currentHeader {
    text-align: center;
}

.productHeader {
    text-align: center;
}

.createButton {
    margin-bottom: 10px;
}