@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron homePage">
    <h1>Welcome to the Gummi Bear Kingdom</h1>
    <h3>@Html.ActionLink("Check Out Our Product", "Index", "Product")</h3>
</div>
